* {
    font-family: 'Golos Text', sans-serif;
    color: black;
    margin: 10px;
    
}

body {
    background-color: black;
}

.general {
    background-color: lightblue;

}


h1 {

    text-align: center;
    border: solid purple 5px;
    width: 700px;
    color: black;
    background-color: paleturquoise;
    font-family: 'Shantell Sans', cursive;
    font-size: 50px;
}

h2 {
    text-align: center;
    padding: 8px;
    border: dotted purple 5px;
    width: 300px;
}

#imagen {
    float: right;
}

#tituloSobreMi {

    text-align: center;
    width: 150px;
}

#parrafoSobreMi {
    border: solid paleturquoise 5px;
    width: 700px;
}


#section1 {
    width: 800px;
    height: 200px;
    border: solid cadetblue;

}

#section2 {
    padding: 5px;
    width: 792px;
    border: solid cadetblue;

}

#section3 {

    padding: 5px;
    width: 1250px;
    border: solid cadetblue;

}

#section4 {
    padding: 5px;
    width: 1250px;
    border: solid cadetblue;

}
